$primary-color: #885DAC;
$dark-color: #211F2C;
$light-color: #E3E1DF;
$danger-color: rgb(255, 44, 44);
$success-color: #d22780;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1300px;