.event-preview {
    width: 100%;
    &:hover {
        position: relative;
        .usr-prev {
            position: absolute;
            display: flex;
            top: 160px;
            left: 0;
            padding: 5px 15px;
            *{
                margin: 0 15px 0 0;
            }
        }
        .event-img {
            filter:brightness(50%);
        }

    }

    .event-time-place {
        display: flex;
        justify-content: space-between;
    }

    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);

    .event-img {
        height: 40vh;
        object-fit: cover;
        display: block;
        transition: filter 0.7s;
    }

    .event-content {
        line-height: 2;
        font-size: 0.9em;
        padding: 15px;
        background: #fafafa;
    }

    .usr-prev {
        display: none;
        transition: display 0.7s;
        .userImg-preview {
            width: rem(30px);
            border-radius: 999px;
        }

        .username-prev {
            align-self: center;
            color: #fff;
        }
    }
    
    .category {
        background-color: $light-color;
        padding: rem(3px);
    }
}