.edit {
    position: relative; 
    width: 80vw;
    margin: rem(100px) auto;

    h1 {
        text-align: center;
    }

    form {
    display: flex;
    flex-direction: column;

        input {
            width: 400px;
            padding: 0.5rem;
            margin: 1rem auto;
        }

        button {
            max-width: 100px;
            padding: 0.5rem;
            margin: 0.5rem auto;
        }

        label {
            margin: 0.5rem auto;
        }
    }
}