           .events {

               //    .main-img-events {
               //        min-height: 280px
               //    }

               .filter {
                   position: relative;
                   top: 100px;
                   //    height: 300px;
               }

               .event-filter {
                   // width: 100%;
                   // text-align: center;
                   display: flex;
                   flex-direction: column;

                   .input-filter {
                       display: flex;
                       flex-direction: column;
                       margin: 0 auto 20px;
                       text-align: center;
                       align-items: center;
                       width: 70vw;
                       height: 100px;

                       .filter-search {
                           display: flex;
                           width: fit-content;
                           border: 1px solid transparent;
                           border-color: #e0e0e0;
                           background-color: #fff;
                           box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.1);
                           padding: 0.5rem;
                           align-items: center;

                           // *{
                           //     display: block;
                           // }
                           input {
                               color: #80868b;
                               border: white;
                               outline: none;
                               font-size: 1rem;
                               font-weight: 500;
                               width: 40vw;
                               height: 2.5rem;
                               z-index: 3;
                           }


                           i {
                               background-color: #fff;
                               opacity: 0.56;
                               border: 0px;
                               margin: 0 0.5rem;
                               outline: none;
                           }

                           button {
                               border: 0px;
                               padding: 13px 26px;
                               outline: none;
                               background-color: #f34573;
                           }
                       }
                   }

                   .filters {
                       width: 80%;
                       display: grid;
                       grid-template-columns: 1fr 1fr 1fr;
                       margin: 0 auto;
                       //    align-items: center;
                       text-align: center;

                       //    display: flex;
                       //    min-width: 100vw;
                       //    margin: rem(10px) auto;
                       //    justify-content: space-evenly;
                       //    width: 60%;
                       div:nth-child(3),
                       div:nth-child(2) {
                           h4 {
                               display: inline block;
                           }

                           input {
                               display: inline block;
                           }
                       }
                   }

                   .category-filter-container {

                       * {
                           list-style: none;
                           margin: 0;
                           padding: 0;
                           box-sizing: border-box;
                       }

                       width: 180px;
                       position: relative;
                       user-select: none;

                       .active .category-filter {
                           display: block;
                       }

                       .active .default-option:before {
                           top: 25px;
                           transform: rotate(-225deg);
                       }

                       .default-option {
                           background: #fff;
                           border-radius: 5px;
                           position: relative;
                           cursor: pointer;

                           li {
                               padding: 10px 20px;
                           }

                           &:before {
                               content: "";
                               position: absolute;
                               top: 18px;
                               right: 18px;
                               width: 6px;
                               height: 6px;
                               border: 2px solid;
                               border-color: transparent transparent #555555 #555555;
                               transform: rotate(-45deg);
                           }
                       }

                       .category-filter {
                           position: absolute;
                           top: 55px;
                           left: 0;
                           width: 100%;
                           background: #fff;
                           border-radius: 5px;
                           z-index: 2;
                           display: none;

                           li {
                               padding: 10px 20px;
                               cursor: pointer;
                           }

                           li:first-child:hover {
                               border-top-left-radius: 5px;
                               border-top-right-radius: 5px;
                           }

                           li:last-child:hover {
                               border-bottom-left-radius: 5px;
                               border-bottom-right-radius: 5px;
                           }

                           li:hover {
                               background: #fff4dd;
                           }
                       }

                       .option {
                           display: grid;
                           grid-template-columns: 1fr 2fr;
                           align-items: center;
                           text-align: left;
                           // justify-content: space-between;

                       }

                       &.active {
                           .default-option:before {
                               top: 20px;
                               transform: rotate(-225deg);
                           }

                           .category-filter {
                               display: block;
                           }

                       }
                   }

               }
           }

           @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

           * {
               margin: 0;
               padding: 0;
               box-sizing: border-box;
               list-style: none;
           }

           //    body {
           //        background: #fdc75b;
           //        color: #555555;
           //    }

           .wrapper {
               position: absolute;
               top: 35%;
               left: 50%;
               transform: translate(-50%, -50%);
           }

           .wrapper .title {
               font-weight: 700;
               font-size: 24px;
               color: #fff;
           }

           .select_wrap {
               width: 225px;
               margin: 15px auto;
               position: relative;
               user-select: none;
           }

           .select_wrap .default_option {
               background: #fff;
               border-radius: 5px;
               position: relative;
               cursor: pointer;
           }

           .select_wrap .default_option li {
               padding: 10px 20px;
           }

           .select_wrap .default_option:before {
               content: "";
               position: absolute;
               top: 18px;
               right: 18px;
               width: 6px;
               height: 6px;
               border: 2px solid;
               border-color: transparent transparent #555555 #555555;
               transform: rotate(-45deg);
           }

           .select_wrap .select_ul {
               position: absolute;
               top: 55px;
               left: 0;
               width: 100%;
               background: #fff;
               border-radius: 5px;
               display: none;
           }

           .select_wrap .select_ul li {
               padding: 10px 20px;
               cursor: pointer;
           }

           .select_wrap .select_ul li:first-child:hover {
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
           }

           .select_wrap .select_ul li:last-child:hover {
               border-bottom-left-radius: 5px;
               border-bottom-right-radius: 5px;
           }

           .select_wrap .select_ul li:hover {
               background: #fff4dd;
           }

           .select_wrap .option {
               display: flex;
               align-items: center;
           }

           .select_wrap .option .icon {
               background: url('https://i.imgur.com/oEZu0sK.png') no-repeat 0 0;
               width: 32px;
               height: 32px;
               margin-right: 15px;
           }

           .select_wrap .option.pizza .icon {
               background-position: 0 0;
           }

           .select_wrap .option.burger .icon {
               background-position: 0 -35px;
           }

           .select_wrap .option.ice .icon {
               background-position: 0 -72px;
           }

           .select_wrap .option.fries .icon {
               background-position: 0 -111px;
               width: 25px;
           }

           .select_wrap.active .select_ul {
               display: block;
           }

           .select_wrap.active .default_option:before {
               top: 25px;
               transform: rotate(-225deg);
           }