           
.events{

    .main-img-events{
        min-height: 280px
    }

    .filter {
        position: absolute;
        top: 150px;
        width: 100vw;
    }

    .event-filter {
        // width: 100%;
        text-align: center;

        .search-input {
            width: 70vw;
            // height: 2vh;
            font-size: 1vh;
        }

        .filters {
            display: flex;
            min-width: 100vw;
            margin: rem(10px) auto;
            justify-content: space-evenly;
            width: 60%;
           
        }

        .category-input {
            background: none;
            outline: none;
            padding: rem(5px);
            border-radius: rem(5px);
            &:focus{
                option:hover{
                    background-color: grey;
                }
            }
        }
        div:nth-child(3){
            height: 6vh;
        }
    }
}