.event-detail {
    color: rgb(72, 72, 72);

    .line {
        // position: relative;
        // top: 4.5rem;
        // width: 82vw;
        margin: 20px auto;
    }

    .event-gallery {
        position: relative;
        top: 4.5rem;
        width: 100%;
        height: 60vh;
        display: grid;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(72, 72, 72);
        border-top: 1px solid rgb(72, 72, 72);
        background-color: rgb(72, 72, 72);
        grid-template-areas:
            "a a a a b b c c"
            "a a a a b b c c"
            "a a a a d d e e"
            "a a a a d d e e";


        div {
            border: 1px solid #484848;
            border-collapse: collapse;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: background-size 1s ease-in-out;
            // animation: background-size 20s linear infinite;


            &:hover {
                background-size: 108% 108%;
                background-position: center;
            }

            &:first-child {
                grid-area: a;
            }

            &:nth-child(2) {
                grid-area: b;
            }

            &:nth-child(3) {
                grid-area: c;
            }

            &:nth-child(4) {
                grid-area: d;
            }

            &:nth-child(5) {
                grid-area: e;
            }
        }
    }

    .event-main {
        position: relative;
        top: 4.5rem;
        width: 80vw;
        margin: 0 auto;

        img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            margin-bottom: 0;
        }

        .all-content {
            max-width: rem(610px);
            float: left;

            .event-detail-top {
                display: grid;
                align-items: center;
                grid-template-columns: 5fr 1fr;
                align-items: flex-start;

                div:first-child {
                    h1 {
                        padding-bottom: 2px;
                    }
                }

                .user-preview {
                    p {
                        color: #767676;
                    }

                    img {
                        height: 48px;
                        width: 48px;
                        border-radius: 50%;
                        margin-bottom: 0;
                    }


                    &:nth-child(2) {
                        text-align: center;
                    }
                }
            }

            .event-chat {}

        }

        .side-content {
            width: 30%;
            float: right;
            height: 200px;
            // background: #fafafa;
            box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);
        }

    }
}