.event-detail {
    color: rgb(72, 72, 72);

    .line {
        // position: relative;
        // top: 4.5rem;
        // width: 82vw;
        margin: 20px auto;
    }

    .event-gallery {
        position: relative;
        top: 4.5rem;
        width: 100%;
        height: 60vh;
        display: grid;
        margin-bottom: 50px;
        // border-bottom: 1px solid rgb(72, 72, 72);
        // border-top: 1px solid rgb(72, 72, 72);
        background-color: rgb(72, 72, 72);
        grid-template-areas:
            "a a a a b b c c"
            "a a a a b b c c"
            "a a a a d d e e"
            "a a a a d d e e";


        div {
            border: .5px solid #4848485d;
            border-collapse: collapse;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: background-size 1s ease-in-out;


            &:hover {
                background-size: 108% 108%;
            }

            &:first-child {
                grid-area: a;
            }

            &:nth-child(2) {
                grid-area: b;
            }

            &:nth-child(3) {
                grid-area: c;
            }

            &:nth-child(4) {
                grid-area: d;
            }

            &:nth-child(5) {
                grid-area: e;
            }
        }
    }

    .event-main {
        position: relative;
        top: 4.5rem;
        width: 80vw;
        margin: 0 auto;


        .all-content {
            max-width: rem(610px);
            float: left;
            width: 60%;

            .event-detail-top {
                display: grid;
                align-items: center;
                grid-template-columns: 5fr 1fr;
                align-items: flex-start;

                div:first-child {
                    h1 {
                        padding-bottom: 2px;
                    }
                }

                .user-preview {
                    p {
                        color: #767676;
                    }

                    img {
                        height: 48px;
                        width: 48px;
                        border-radius: 50%;
                        margin-bottom: 0;
                    }


                    &:nth-child(2) {
                        text-align: center;
                    }
                }
            }

            .attendees {
                h2 {
                    margin: 30px 0 10px;
                    color: brown;
                }

                .attendees-details {
                    margin: 10px 2px 20px;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                img {
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    margin-bottom: 0;
                }

            }

            map {
                border-radius: 0;
            }

            .event-chat {
                margin: 40px 0;

                h2 {
                    margin-bottom: 20px;
                }
            }

        }

        .side-content {
            width: 30%;
            float: right;
            height: 180px;
            background: #fff;
            margin-left: 40px;
            box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);

            .top-side {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #c0bcbc;
                padding-bottom: 5px;
                margin: 10px;

                p{
                    font-size: rem(15px)
                }
            }

    
            .join {
                text-align: center;
                margin: 20px 0;

                span {
                    padding: 5px 50px;

                    i {
                        padding-left: 10px;
                        margin-left: 5px;
                        border-left: 1px solid #fff;
                    }
                }
               
            }

            span {
                margin: 10px 0 0 10px;
            }
        }

    }
}