.main-content {

  .landing {
    position: relative;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    background: url("../../img/together.jpg") no-repeat center center/cover;
    margin-bottom: 5rem;

    .landing-inner {
      color: #fff;
      height: 80%;
      width: 50%;
      margin-inline-start: 6.5vw;
      margin-block-start: 10rem;
      display: flex;
      flex-direction: column;
      align-items: left;
    }
  }

  .categories {
    display: grid;
    margin: 3rem auto 5rem auto;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 40px;
    justify-items: center;
    align-items: center;
    text-align: center;

    .category-preview {
      a {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        i{
          padding: 10px;
          // border-bottom: 2px solid #c5c6c9;
          color: #1f3153;
          transition: border-bottom 0.5s ;
        }
        p{
          color: black;
        }
        &:hover{
          opacity: 0.9;
          i{
            border-bottom: 2px solid #c5c6c9;
          }
        }
      }
    }
  }

  .group-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;

    a {
      color: rgb(0, 47, 255);
    }
  }

  .about-preview {
    height: 300px;
    margin: 50px auto;
    background: url("https://images.unsplash.com/photo-1589529220923-8e72f4256b4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")no-repeat center center/cover;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);
  }

  footer {
    height: 300px;
    background-image: linear-gradient(to top right, #fff 60%, #faf4ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    >:first-child{
      color: #f8b500;
    }
    a {
      margin: auto rem(20px);
    }
    a:hover {
      color: $dark-color;
    }
  }
}