.main-content {

  .landing {
    position: relative;
    min-height: 600px;
    width: 100vw;
    overflow: hidden;
    background: url("../../img/run.jpg") no-repeat center center/cover;

    .landing-inner {
      color: #fff;
      height: 80%;
      width: 50%;
      margin-inline-start: 5rem;
      margin-block-start: 10rem;
      display: flex;
      flex-direction: column;
      align-items: left;
    }
  }

  .categories {
    display: flex;
    margin: rem(20px) auto;
    justify-content: space-around;
  }


  

  
}
