.loginForm {
    margin: rem(100px) auto;
    border: 1px rgba(211, 211, 211, 0.562) solid;
    border-radius: 5px;
    width: 40%;
    padding: rem(30px);
    text-align: center;
    min-width: 400px;

    .continue-with-facebook {
        
        background-color: #4267B2;
        padding: rem(10px);
        border-radius: 5px;
        margin: rem(20px) 0;
    
        a {
            display: flex;
            justify-content: space-around;
            font-size: rem(20px);
            line-height: 1;
            color: #ffffff;
        }

        i {
            margin-left: 7px;
        }
    }
    
    .continue-with-google {
        
        border: lightgray solid 1px;
        padding: rem(10px);
        border-radius: 5px;
        margin: rem(20px) 0;
    
        a {
            display: flex;
            justify-content: space-around;
            font-size: rem(20px);
            line-height: 1;
            color: #727272;
        }

       
    }
    
    .continue-with-apple {
        
        border: lightgray solid 1px;
        padding: rem(10px);
        border-radius: 5px;
        margin: rem(20px) 0;
    
        a {
            display: flex;
            justify-content: space-around;
            font-size: rem(20px);
            line-height: 1;
            color: #727272;
        }

        i {
            color: rgb(26, 26, 26);
            
        }
    }

    .login-or {
        margin: rem(20px) 0;
        border-bottom: 1px solid rgba(194, 193, 193, 0.575);
        color: #504e4e;
        font-size: medium;
        height: 12px;
        
        span {
            background-color: #fff;
            padding: rem(5px);
        }
    }

    .login-input {
        margin: rem(10px) 0;
        padding: rem(10px);
        width: 100%;
        border-radius: 5px;
        border: lightgray solid 1px;
    }

    .loginBtn {
        margin: rem(10px) 0;
        padding: rem(10px);
        width: 100%;
        border-radius: 5px;
        border: lightgray solid 1px;
        outline: none;
        cursor: pointer;
        font-family: Roboto;
        font-size: rem(20px);
        &:hover {
            background-color: rgb(226, 220, 220);
        }
    }

    

}