.profile {
  position: absolute;
  top: 100px;
  
  .profile-top {
    margin: 0 0 3rem;
    
    img {
      width: 250px;
      height: 250px;

    }

    .icons {
      margin-top: 1rem;
      width: 250px;
      display: flex;
      justify-content: space-between;
      margin: 0 0 3rem;
      a{
         &:hover {
        color: var(--dark-color);
      }
      }
     
    }
  }

  .profile-about {
    text-align: left;
    justify-content: space-between;
    
    .passions {
      display: flex;

      * {
        margin-right: 1rem;
        font-size: rem(20px);
      }
    }
  }
  
  .profile-event{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(225px), 1fr));
    grid-auto-rows: auto;
    gap: 40px;
    padding-top: 30px;   

    .event {

      .event-img-user-details{
        width: 100px;
        height: 50px;
        border-radius: 5px;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .user-desc{
        color: gray;
      }

      .event-title{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}