// // Setup
@import "./setup/variables";
@import "./setup/functions";
// @import "setup/mixins.scss";
@import "./setup/typography.scss";

// // Basics
@import "./basics/helpers";
@import "./basics/layout";
@import "./basics/base";
@import "./basics/links";
@import "./basics/buttons";

// // Components
// @import "components/main-header.scss";
// @import "components/cat-card.scss";


//pages 
@import "./pages/home";
@import "./pages//login";
@import "./pages/events.page";
@import "./pages/event.details";

// component 
@import "./cmps/event.preview";
@import "./cmps/review";
@import "./cmps/event.list";

