.container {
    max-width: 90vw;
    margin: auto;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: $primary-color;
}

.text-dark {
    color: $dark-color;
}

.line {
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}

.userImg-preview {
    width: rem(30px);
    border-radius: 999px;
    height: 29px;
}

.username-prev {
    align-self: center;
    color: #fff;
}