
.navbar  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    top: 0;
    
    ul {
        display: flex;
    }

    a {
        color: #f8b500;
        padding: rem(20px) 0;
        margin-inline-end: rem(30px);

        &:hover {
            color: $primary-color;
          }
          
    }
      
}





