.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    

    .navbar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            li {
                &:nth-child(1),
                &:nth-child(2) {
                    margin-inline-end: rem(20px);
                }
            }
        }

        a {
            color: #f8b500;
            padding: rem(20px) 0;

            &:hover {
                color: $dark-color;
            }

        }
    }
}

.event-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(225px), 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding-top: 30px;
}

