.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
    // border-bottom: 1px solid rgb(194, 191, 191,1);

    .navbar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 100px;
        }
        ul {
            display: flex;
            align-items: center;

            li {
                &:nth-child(1),
                &:nth-child(2) {
                    margin-inline-end: rem(20px);
                }
                &:nth-child(3) {
                    a {
                        padding: 0;
                    }
                }
            }
        }

        a {
            color: #f34573;
            padding: rem(15px) 0;

            &:hover {
                color: $dark-color;
            }
        }

        .login {
            cursor: pointer;
        }
    }
}

.events-home {
    .event-list {
        margin: 30px auto 80px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(225px), 1fr));
        grid-auto-rows: auto;
        gap: 40px;
        padding-top: 30px;
    }
}

.events-prev {
    .event-list {
        margin: 0 auto;
        display: grid;
        position: relative;
        top: 60vh;
        grid-template-columns: repeat(auto-fit, minmax(rem(200px), 1fr));
        grid-auto-rows: auto;
        gap: 40px;
    }
}
